<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController">
<head>
	<title>Extranet portail</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!-- jQuery and jQuery UI (REQUIRED) -->
	<link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/smoothness/jquery-ui.css">
	<!-- elFinder CSS (REQUIRED) -->
	<link rel="stylesheet" type="text/css" media="screen" href="css/elfinder.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/theme.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/sb-admin.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/upload2xspf.css">
	<link rel="stylesheet" type="text/css" media="screen" href="font-awesome/css/font-awesome.min.css">
</head>
<body>
<error></error>
<ng-view></ng-view>
        <!-- Branding -->
	<script type="text/ng-template" id="branding.tpl">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Extranet Portail</a>
        </div>
	</script>
        <!-- Menu -->
	<script type="text/ng-template" id="menu.tpl">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="active"><a href="#/browser"><i class="fa fa-cloud"></i> Mise en ligne de vidéos  </a></li>
            <li><a href="http://www.musiquecontemporaine.fr/doc/index.php/H%C3%A9bergement_de_contenus#Flux_vid.C3.A9o" target="_blank"><i class="fa fa-book"></i> Documentation </a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{credentials.code}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.musiquecontemporaine.fr/" target="_blank"><i class="fa fa-hand-o-right"></i> Portail </a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="disconnect()"><i class="fa fa-power-off"></i> Déconnecter</a></li>
              </ul>
            </li>
          </ul>
        </div>
	</script>
	<!-- Login -->
	<script type="text/ng-template" id="login.tpl">
		<div ng-controller="LoginController">
			<div class="container">
				<div class="form-bg">	
					<form>
						<h2>Extranet</h2>
						<p><input type="text" placeholder="Identifiant" ng-model="login" autofocus></p>
						<p><input type="password" placeholder="Mot de passe" ng-model="password"></p>
						<button ng-click="authenticate()">Connecter</button>
						
					</form>
				</div>
			</div>
		</div>
	</script>	
	<!-- FileBrowser -->
	<script type="text/ng-template" id="browser.tpl">
	<wrapper>
	<div ng-controller="BrowserController">
				<div class="">
				  <div class="">
				    <div class="panel panel-default">
				      <div class="panel-body" style="text-align:center">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">1. Sélectionner une vidéo à mettre en ligne </h3>
						</div>
						<div class="panel-body">
							<file-browser lang="fr"></file-browser>
						</div>
					</div>
					<button class="btn btn-primary" type="button" ng-click="addFile()">Mettre en ligne <strong>"{{currentContext.path}}"</strong></button>
				      </div><!-- end panel body-->
				    </div><!-- end panel default-->            
				  </div><!-- end colonne1 -->
				  <div class="">
				    <div class="panel panel-default">
				      <div class="panel-body">
						<div ng-repeat="obj in selectedFiles">
							<div ng-show="!obj.processed" class="alert alert-dismissable alert-info" style="text-align:center">
								<h3>
									Ajouter <strong>"{{obj.path}}"</strong>
									<span style="cursor: pointer;" ng-click="removeFile($index)"><i class="fa fa-times"></i></span>
								</h3>
							</div>
							<div ng-show="obj.processed" class="alert alert-dismissable alert-success" style="text-align:center">						
								<h3>
									<strong>Fichier "{{obj.path}}" ajouté ! </strong>
									<i class="fa fa-check-square fa-x15"></i>
								</h3>
							</div>
						</div>
						<div>
							<div class="form-group input-group">
								<span class="input-group-addon"><strong>2. URL de la notice de rattachement</strong></span>
								<input type="text" class="form-control" ng-model="recordOaiUrl" size="50"  placeholder="Exemple : http://www.partenaire.fr/oai?verb=GetRecord&metadataPrefix=mods&identifier=oai:partenaire:record_id"/>
								<span class="input-group-btn">
									<button class="btn btn-primary" ng-click="getRecord()" ng-show="step > 1">Afficher</button>
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 text-center">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="alert alert-dismissable alert-info" ng-show="relatedItems.length > 0">
											<strong>3. Sélectionner l&apos;oeuvre correspondante</strong>
										</div>
										<div ng-repeat="obj in relatedItems">
											<span>
												<input type="radio" name="selectedPart" ng-click="selectPart($index, obj)" ng-checked="obj.isChecked">
													{{obj.title}} ({{obj.artist}})
												</input>
											</span>
										</div>
										<br />
										<button class="btn btn-primary" type="button" ng-show="step == 4" ng-click="processFiles()">
											<strong>Ajouter à la notice</strong>
										</button>
									</div>
								</div>            
							</div>
							<div class="col-lg-6 text-center">
								<div class="panel panel-default">
									<div class="panel-body">
										<playlist></playlist>
									</div>
								</div>            
							</div>
						</div><!-- end row -->
				      </div><!-- end panel body -->
				    </div><!-- end panel default -->            
				  </div><!-- end colonne 2-->
			</div><!-- end row -->
	</div><!-- end controller  -->
	</wrapper>
	</script>

	<script type="text/ng-template" id="wrapper.tpl">
	    <div id="wrapper">
	      <!-- Sidebar -->
	      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<branding></branding>
		<menu></menu>
		<headnav></headnav>
	      </nav>

	      <!-- App page -->
	      <div id="page-wrapper">
		<div class="row">
		  <div class="col-lg-12">
		    <h1>Mise en ligne de vidéos</h1>
		    <ol class="breadcrumb">
		      <li><a href="/"><i class="icon-dashboard"></i> Extranet </a></li>
		      <li class="active"><i class="icon-file-alt"></i> Mise en ligne de vidéos</li>
		    </ol>
			<div ng-transclude></div>
		  </div>
		</div>
	      </div>
	    </div>
	</script>

	<script type="text/ng-template" id="playlist.tpl">
		<div class="panel panel-primary" ng-show="playlistItems.length > 0">
        		<div class="panel-heading">
                		<h3 class="panel-title">Liste de lecture de la notice</h3>
        		</div>
        		<div class="panel-body">
				<div class="alert alert-dismissable alert-success">
					<div><strong>URL à copier et à insérer dans la notice manuellement :</strong></div>
					<input type="text" value="{{playlistUrl}}" size="" readonly select-on-click/> 
				</div>
				<table class="table table-hover tablesorter">
				<thead>
				  <tr>
				    <th>Titre</th>
				    <th>Artiste</th>
				    <th>Supprimer</th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="item in playlistItems">
				    <td>{{item.title}}</td>
				    <td>{{item.artist}}</td>
				    <td><i class="fa fa-times" ng-click="removeTrack(item.trackId)" style="cursor: pointer;"></i></td>
				  </tr>
				</table>
        		</div>
		</div>
	</script>
</body>


<!-- Javascript  -->
<script type="text/javascript" src="/js/lib/angular/angular.js"></script>
<script type="text/javascript" src="/js/lib/angular/angular-route.js"></script>
<script type="text/javascript" src="/js/app/app.js"></script>
<script type="text/javascript" src="/js/app/controllers/app.controllers.js"></script>
<script type="text/javascript" src="/js/app/directives/app.directives.js"></script>
<script type="text/javascript" src="/js/lib/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/lib/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/lib/elfinder/elfinder.min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap/bootstrap.js"></script>

<!-- elFinder translation (OPTIONAL) -->
<script type="text/javascript" src="js/lib/elfinder/i18n/elfinder.fr.js"></script>

</body>
</html>
