        <div ng-controller="ScreenController">
                <span>Enter project title: </span><input type="text" ng-model="title">
                <project projecttitle="{{title}}">
                        #RootScope content
                </project>
                <activity projecttitle="{{title}}">
                </activity>
        </div>
